:host {
  display: block;
}

polyfill-next-selector { content: ':host label'; }
::content app-labels {
  display: none;
}

#chart_container, #chartEl {
  height: 100%;
  width: calc(100% - 40px);
}

#chartEl {
  margin-left: 40px;
}
