<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>app-chart Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="app-chart.html">

</head>
<body unresolved>

  <p>An `app-chart` looks like this:</p>
  <app-chart type="line" responsive>
    <app-chart-axis type="y"></app-chart-axis>
    <app-chart-axis type="time"></app-chart-axis>

    <app-chart-series name="test1" color="#3498db">
      <app-chart-data x="-1893456000" y="25868573"></app-chart-data>
      <app-chart-data x="-1577923200" y="29662053"></app-chart-data>
      <app-chart-data x="-1262304000" y="34427091"></app-chart-data>
      <app-chart-data x="-946771200" y="35976777"></app-chart-data>
      <app-chart-data x="-631152000" y="39477986"></app-chart-data>
      <app-chart-data x="-315619200" y="179323175"></app-chart-data>
      <app-chart-data x="0" y="49040703"></app-chart-data>
    </app-chart-series>
    <app-chart-series name="test2" color="#e67e22">
      <app-chart-data x="-1893456000" y="7082086"></app-chart-data>
      <app-chart-data x="-1577923200" y="9213920"></app-chart-data>
      <app-chart-data x="-1262304000" y="12323836"></app-chart-data>
      <app-chart-data x="-946771200" y="14379119"></app-chart-data>
      <app-chart-data x="-631152000" y="20189962"></app-chart-data>
      <app-chart-data x="-315619200" y="28053104"></app-chart-data>
      <app-chart-data x="0" y="34804193"></app-chart-data>
    </app-chart-series>
  </app-chart>

</body>
</html>
